.main_content_jogos{
    margin-top: 20px;
    margin-left: 175px;
    height: 432.5px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #48251f;
    color: white;
    font-family: pixel_retro;
}

.main_content_jogos h2 {
    flex-basis: 100%;
    font-size: 40px;
    margin-bottom: -20px;
}

.titulo_jogos{
    background-color: #919191;
    width: 40%;
    height: 50px;
    position: relative;
    font-size: 25px;
    text-align: top;
}

.img_pug{
    position: absolute;
    left: -40px;
    top: -25;
    width: 130px;
}

.img_mapa{
    position: absolute;
    left: -60px;
    top: -20;
    width: 120px;
}

.img_hashtag{
    position: absolute;
    left: -60px;
    top: -40;
    width: 120px;
}

.img_cavaleiro{
    position: absolute;
    left: -30px;
    top: -20;
    width: 100px;
}

.img_nave{
    position: absolute;
    left: -40px;
    top: -35;
    width: 90px;
}

.main_content_jogos h3 {
    text-align: center;
    margin-top: 10px;
}

.btnJogos{
    background-color: #88421f !important;
    color: white !important;
}

.titulo_jogos a{
    text-decoration: none;
    color: white;
}

.titulo_jogos :hover{
    background-color: #88421f;
}

.off{
    filter: grayscale(100%);
    filter: brightness(30%);
}